---
const hasMedia = Astro.slots.has("media");
---

<header class="hero">
  <nav class="top-nav">
    <a class="logo" href="/">
      <img src="/logos/WIA.png" alt="WiA Logo" class="logo-icon" />
      <span>WHO IS ABEBE?</span>
    </a>

    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/reports">Reports</a>
      <a href="/projects">Projects</a>
      <a href="/documents">Documents</a>
      <a href="/timeline">Timeline</a>
    </div>
  </nav>

  <div class:list={["hero-inner", hasMedia && "has-hero-media"]}>
    <div class="hero-content">
      <h1><slot name="title" /></h1>
      <div class="red-line"></div>
      <p><slot name="subtitle" /></p>
    </div>

    {hasMedia && (
      <div class="hero-media">
        <slot name="media" />
      </div>
    )}
  </div>
</header>
